@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Global configuration */
* {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "Helvetica neue";
}

/* Ban scrolling x direction*/
body {
    overflow-x: hidden;
}

/* Default text font and alignment*/
p {
    font-family: "Helvetica neue";
    text-align: center;
}

a {
    font-family: "Helvetica neue";
    word-wrap: break-word;
}

/* Default title font and alignment*/
h2 {
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: left;
    margin-bottom: -10px;
}

h3,
h4 {
    font-family: "Helvetica neue";
    text-align: left;
}

/* Default padding around a region*/
.container {
    padding: 20px 20px 20px 20px;
}

.vertical_padding {
    padding: 30px 0px 10px 0px;
}

.inline_div * {
    display: inline-block;
    vertical-align: middle;
}


/* Header configuration */
header {
    background: url(assets/header_footer.png) center / cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 20px;
    color: white;
    font-family: 'Bungee', cursive;
    font-weight: 600;
    text-align: left;
}

/* Nav configuration */
nav ul {
    display: flex;
    flex-direction: row;
    padding: 3px 10px 3px 3px;
}

nav li {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #15155c;
    margin: 4px;
    border-radius: 24px;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .5);
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: 23px;
    height: 23px;
    margin: 5px;
}

/* nav icon of active page*/
.active {
    background-color: white;
}


/* Default, white background and black foreground color*/
article,
aside {
    background-color: white;
    color: black;
}

/* article in Home page has a space at the bottom for the hidden region*/
#home_page article {
    margin-bottom: 310px;
    /* margin for hidden greeting + footer */
    box-shadow: 10px 0px 15px 0 rgba(0, 64, 255, .3);
    /* Only apply shadow to vertical direction */
}

/* about_me_container: the first contents in the Home page */
#about_me_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7faff;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .5);
    margin: 10px
}

#about_me_container h2 {
    background-color: #fff06b;
    color: #222222;
    font-family: 'Pangolin', cursive;
    font-size: 35px;
    transform: rotateZ(-5deg);
    margin: 0px 10px 20px 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .5);
}

#about_me_container p {
    font-size: 30px;
    color: #5c5c5c;
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 1.8em;
    text-align: left;
    padding: 15px;
}

#about_me_container strong {
    text-decoration-line: underline;
    color: red;
    font-size: 40px;
}

#my_history {
    margin-top: 20px;
}

#my_history .container {
    margin-bottom: -10px;
    /* slightly avoid making too much space */
}

/* Container of education and experience*/
#my_history li {
    display: flex;
    flex-direction: column;
}

#my_history li p {
    font-size: 20px;
}

#my_history h2 {
    color: #5c5c5c;
    font-size: 30px;
    text-align: center;
}

#my_history .title_underline {
    background: url(assets/orange.png);
    height: 10px;
}

#my_history .inline_div {
    margin: 0px 0px 10px 0px;
    text-align: left;
}

/* icons */
#my_history img {
    width: 25px;
    height: 25px;
    margin-right: 10px
}

#home_links {
    padding: 0px 20px 10px 20px;
}

#home_links a {
    display: block;
    background-color: white;
    font-size: 20px;
    padding: 40px 20px;
    margin: 40px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

/* work page configuration*/
#works_page article {
    margin: 10px 0px 40px 0px;
}

#works_page article hr {
    margin: 60px 30px 20px 30px;
    border-top: 15px dotted;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

#works_page article h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Baloo Tammudu 2', cursive;
}

#works_page article p {
    line-height: 2em;
    font-size: 20px;
    margin: 0px 0px 50px 0px;
}

#works_page .work_img {
    width: 100%;
    height: 100%;
}

/* Floating card that contains work image*/
.work_card {
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: white;
    box-sizing: border-box;
}

/* icon that indicate the card is touchable and link to some pages*/
.link_icon {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 20px 5px auto;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

/* Defining colors for each card*/
#work1 h2 {
    color: #226100;
}

#work2 h2 {
    color: #ff8800;
}

#work3 h2 {
    color: #5b3299;
}

#contact_page main img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#contact_page article {
    font-size: 20px;
    margin-bottom: 40px;
}

#contact_page main li {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#contact_page .divide_for_leftbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 20px 5px 20px;
}

#contact_page .vertical_bar {
    background: url(assets/orange.png);
    width: 10px;
    height: auto;
}

#contact_page aside #references {
    text-align: left;
    margin: 10px 10px 0px 10px;
}


#contact_page aside {
    background-color: #f2f2f2;
}

#contact_page aside li {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 0px;
}

/* configuration of each line */
#contact_page aside li * {
    text-align: left;
    margin: 5px 0px 0px 0px;
}

#contact_form * {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
}

#contact_form p {
    margin: 20px 0px 5px 20px;
    text-align: left;
}

#contact_form input {
    height: 40px;
    font-size: 20px;
}

#contact_form textarea {
    height: 200px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px;
}

#contact_form #submit_button {
    border-radius: 50px;
    text-align: center;
    color: #1e4663;
    font-size: 20px;
    background-color: white;
    border-color: #1e4663;
    border-width: 3px;
    width: 80%;
}

footer {
    background: url(assets/header_footer.png) center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 60px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Different configuration footer for home page*/
#home_page footer {
    position: fixed;
    z-index: -1;
}

/* slide show configuration */
#hidden_greeting {
    position: fixed;
    bottom: 60px;
    left: 0px;
    height: 250px;
    width: 100%;
    z-index: -2;
}

#hidden_greeting p {
    text-align: center;
    color: blue;
    text-shadow: 2px 1px white;
    position: absolute;
    top: 10px;
    right: 1px;
    left: 1px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 20px;
    padding: 10px 20px 0px 20px;
}

#hidden_greeting figure img {
    width: 100%;
    height: 100%;
}

#hidden_greeting .reference {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
