@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');

/* Global configuration */
* {
    padding: 0px;
    margin: 0px;
    text-align: center
}

/* For concistent margin of all items*/
.container {
    margin: 20px;
}

p {
    font-family: "Helvetica neue";
    text-align: center;
}

article p {
    text-align: left
}

h2, h3, h4 {
    font-family: "Helvetica neue";
    text-align: left;
}

/* Header configuration */
header {
    background: url(../assets/header_img.png) center / cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 20px;
    color: white;
    font-family: 'Bungee', cursive;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}

/* Nav configuration */
nav {
    display: flex;
    flex-flow: row-reverse;
}

nav ul {
    align-content: center;
    text-align: right;
    list-style-type: none;
}

nav li {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: 18px;
    height: 18px;
    margin: 3px;
}

/* Main configuration */
article .container {
    color: black;
}

article .container p {
    margin: 15px;
}

article h2 {
    color: white;
    background-color: darkseagreen;
    padding: 5px 10px 5px 10px;
}

article ul {
    list-style-type: none;
}

article .hisotry p {
    text-align: center;
}

