@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


/* Global configuration */
* {
    padding: 0px;
    margin: 0px;
    text-align: center
}

/* Ban scrolling x direction*/
body {
    overflow-x: hidden;
}

/* Default text font and alignment*/
p {
    font-family: "Helvetica neue";
    text-align: center;
}

a {
    font-family: "Helvetica neue";
}

/* Default title font and alignment*/
h2,
h3,
h4 {
    font-family: "Helvetica neue";
    text-align: left;
}

/* Default padding around a region*/
.container {
    padding: 20px 20px 20px 20px;
}

.vertical_padding {
    padding: 10px 0px 10px 0px;
}

hr {
    margin: 60px 30px 20px 30px;
    border-top: 15px dotted;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.div-flex {
    display: flex;
}

/* Header configuration */
header {
    background: url(../assets/header_footer.png) center / cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 20px;
    color: white;
    font-family: 'Bungee', cursive;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}

/* Nav configuration */
nav ul {
    display: flex;
    flex-direction: row;
    padding: 3px 10px 3px 3px;
}

nav li {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #15155c;
    margin: 4px;
    border-radius: 24px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: 23px;
    height: 23px;
    margin: 5px;
}

/* nav icon of active page*/
.active {
    background-color: white;
}

/* Main configuration */

/* have a bottom space for footer */
main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* Home page has different configuration for slide show */
#home_main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* Default, white background and black foreground color*/
article,
aside {
    background-color: white;
    color: black;
}

/* article in Home page has a space at the bottom for slide show*/
#home_article {
    margin-bottom: 310px;
}

/* about_me_container: the first contents in the Home page */
#about_me_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(assets/programmer_img.jpeg) center / cover;
}

#about_me_container h2 {
    background-color: transparent;
    color: #ff6200;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    transform: rotateZ(-5deg);
    margin: 0px 10px 20px 10px;
}

#about_me_container p {
    font-size: 30px;
    color: #ffff00;
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 1.8em;
    text-align: left;
    padding: 15px;
    text-shadow: 2px 4px black;
}

#about_me_container strong {
    text-decoration-line: underline;
    text-decoration-color: white;
    color: red;
    font-size: 47px;
    text-shadow: 2px 4px black;
}

#my_history li {
    display: flex;
    flex-direction: column;
}

#my_history li p {
    text-align: left;
    font-size: 20px;
}

/* Where education and experiences are placed */
#my_history h3 {
    color: #5c5c5c;
    font-size: 30px;
    padding-bottom: 10px
}



#work_article {
    margin: 10px 0px 40px 0px;
}


#work_article h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Baloo Tammudu 2', cursive;
}

#work_article p {
    line-height: 2em;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

#work_article .work_img {
    width: 100%;
    height: 100%;
}

#work_article .image_region {
    padding: 15px 0px 15px 0px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: white;
}

.link_icon {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 20px 5px 0px;
}

.link_icon img {
    width: 15px;
    height: 15px;
}

#work_article .image_region a {
    color: blue;
}

/* Defining colors for each cell*/
#work1 h2 {
    color: #226100;
}

#work2 h2 {
    color: #ff8800;
}

#work3 h2 {
    color: #5b3299;
}


footer {
    background: url(../assets/header_footer.png) center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 60px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#home_footer {
    position: fixed;
    z-index: -1;
}

footer a {
    color: white;
    text-decoration: none;
}

/* slide show configuration */
#hidden_greeting {
    background: url(assets/hidden_img.jpeg) center / cover;
    position: fixed;
    bottom: 60px;
    left: 0px;
    height: 250px;
    width: 100%;
    z-index: -2;
}

#hidden_greeting p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    padding: 30px 20px 10px 20px;
}
