@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');

/* Global configuration */
* {
    padding: 0px;
    margin: 0px;
    text-align: center
}

p {
    font-family: "Helvetica neue";
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Helvetica neue";
    text-align: left;
}

/* Header configuration */
header {
    background: url(../assets/header.png) center / cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#home_header {
    /* height of slide_show component */
    margin-bottom: 250px;
}

header h1 {
    padding: 20px;
    color: white;
    font-family: 'Bungee', cursive;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}

/* Nav configuration */
nav li {
    display: flex;
    padding: 4px;
    background-color: white;
    margin: 6px;
    border-radius: 15px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: 18px;
    height: 18px;
    margin: 3px;
}

/* Main configuration */
.slide_show {
    position: fixed;
    top: 120px;
    left: 0px;
    background-color: red;
    display: inline-block;
    width: 100%;
    height: 250px;
    z-index: -1;
}

article {
    background-color: white;
    padding-top: 10px;
}

article p {
    text-align: left;
    margin: 15px;
}

article section {
    margin: 20px;
}

#home_article .container {
    color: black;
}

#home_article h2 .title_dot {
    color: orange;
}

#home_article h2 {
    color: white;
    background-color: darkblue;
    padding: 5px 10px 5px 10px;
}

#home_article ul {
    list-style-type: none;
}

#home_article .hisotry p {
    text-align: center;
}

#work_article h2 {
    text-align: center
}

#work_article div {
    display: flex;
    background-color: white;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#work_article #bubble {
    background: url(../assets/bubble.png) center / cover;
    color: white;
    margin: -30px 15px 0px 30px;
    padding: 0px;
    border-radius: 10px;
    transform: rotateZ(-3deg);
    box-shadow: none;
    position: relative;
    left: 30px;
    top: -20px;
}

/*

#bubble:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 80%;
    margin-top: -20px;
    display: block;
    width: 0px;
    height: 0px;
    z-index: 0;
    border-style: solid;
    border-width: 0px 10px 20px 10px;
    border-color: transparent transparent blue transparent;
}
*/


footer {
    background: url(../assets/footer.png) center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}
